:root {
  --light-bg: #fafbfb;
  --side-bg: #051e34;
  --strong-grey-bg: #e5e5e5;
  --top-content-bg: #1b72e8;
  --header-bg: #f8f9f9;
  --header-height: 75px;
  --side-width: 65px;
  --top-content-btn-bg: #165bba;
  --done-bg: #198754;
  --process-bg: #ffc107;
  --failed-bg: #dc3545;
  --color-button-table: #6c757d;
  --side-hover-bg: rgba(255, 255, 255, 0.565);
}
@media screen and (min-width: 120px) {
  :root {
    --side-width: 120px;
  }
}
img {
  max-width: 100%;
}

/* COMMON */

/* BODY */
.ms_wrapper {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

/* HEADER */
header {
  height: var(--header-height);
  width: 100%;
  background-color: var(--header-bg);
}

/* Nav */
nav img {
  height: 55px;
}

.ms_container-nav {
  line-height: 75px;
  background-color: var(--header-bg);
}

nav .searchbar {
  background-color: var(--strong-grey-bg);
  height: 50px;
  line-height: 50px;
}

.searchbar input {
  width: 80%;
}

.prova {
  color: #dc3545;
}
.alarm {
  color: #ff8f00;
  padding: 0;
}

/* MAIN */
main {
  height: calc(100% - var(--header-height));
  width: 100%;
}





.ms_input-margin {
  margin-left: 12px;
}
/* SIDEBAR */
.ms_sidebar {
  width: var(--side-width);
  background-color: var(--side-bg);
  background-image: url(../img/sidebar-bg.png);
  overflow-y: hidden;
}

.ms_sidebar a {
  align-self: center;
}

.ms_sidebar a i {
  color: white;
}

.ms_sidebar span {
  color: white;
}

.ms_sidebar a:hover {
  background-color: var(--side-hover-bg);
}

/* CONTENT */
.ms_content {
  height: calc(100vh - var(--header-height));
  width: calc(100vw - var(--side-width));
  background-color: var(--light-bg);
  overflow-y: auto;
}

/* Top content */
.ms_top-content {
  /* min-height: 15%; */
  background-color: var(--top-content-bg);
  color: white;
}

.ms_top-content-btn {
  background-color: var(--top-content-btn-bg);
}

.ms_boolean-apps a {
  font-size: 0.55rem;
}
/* Bottom content */
.ms_bottom-content {
  max-height: 85%;
  width: 100%;
}

.ms_bottom-title {
  background-color: var(--strong-grey-bg);
}

/* Table */
.ms_bottom-content-title {
  background-color: var(--strong-grey-bg);
}

table img {
  max-width: 50px;
}

.done {
  background-color: var(--done-bg);
}

.process {
  background-color: var(--process-bg);
}

.failed {
  background-color: var(--failed-bg);
}

tr td {
  text-align: center;
}

tr:hover {
  background-color: var(--light-bg);
}

.ms_options i {
  color: var(--color-button-table);
  height: 100%;
  font-size: 1.2rem;
}
